<div class="row" *ngIf="work">
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-6">
        <h1>保養名稱定義</h1>
      </div>
    </div>
    <form class="form-horizontal" role="form" #new1 >
      <div class="form-group" [class.has-error]="name.Error" [class.has-success]="name.pass">
        <label for="name" class="col-sm-2 control-label">保養名稱</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="name" placeholder="保養名稱" [(ngModel)]="work.name" name="name"
          #name (blur)="check(name)" (focus)="name.Error=''"
          data-v-required="true"
          data-v-required-message="請輸入保養項目名稱"
          data-v-maxlength="20"
          data-v-maxlength-message="項目名稱長度超限"
          >
        </div>
      </div>
      <div *ngIf="name.Error"
             class="alert alert-danger">
          {{name.Error}}
      </div>
      <div class="form-group" [class.has-error]="content.Error" [class.has-success]="content.pass">
        <label for="content" class="col-sm-2 control-label">說明</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="content" placeholder="說明"  [(ngModel)]="work.content" name="content"
          #content (blur)="check(content)" (focus)="content.Error=''"
          data-v-required="true"
          data-v-required-message="請描述保養內容"
          data-v-betweenl="3-20"
          data-v-betweenl-message="描述內容長度不符"
          >
        </div>
      </div>
      <div *ngIf="content.Error"
             class="alert alert-danger">
          {{content.Error}}
      </div>
      <div class="form-group" [class.has-error]="period.Error" [class.has-success]="period.pass">
        <label for="period" class="col-sm-2 control-label">間隔週期</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="period" placeholder="間隔週期" [(ngModel)]="work.period" name="period"
          #period (blur)="check(period)" (focus)="period.Error=''"
          data-v-required="true"
          data-v-required-Message="請填入間隔週期"
          data-v-number="true"
          data-v-number-Message="請輸入整數"
          data-v-between="1-24"
          data-v-between-Message="請輸入1-24的整數"
          >
        </div>
      </div>
      <div *ngIf="period.Error"
             class="alert alert-danger">
          {{period.Error}}
      </div>
      <div class="form-group" [class.has-error]="unit.Error" [class.has-success]="unit.pass">
        <label for="unit" class="col-sm-2 control-label">週期單位</label>
        <div class="col-sm-3">
          <select class="form-control"  id="unit" [(ngModel)]="work.unit" name="unit" #unit
                  required>
            <option value="Week(周)">week(周)</option>
            <option value="Month(月)">month(月)</option>
            <option value="Year(年)">Year(年)</option>
          </select>
        </div>
      </div>
      <div class="form-group" [class.has-error]="monthPlan.Error" [class.has-success]="monthPlan.pass">
        <label for="monthPlan" class="col-sm-2 control-label">月(年)計劃</label>
        <div class="col-sm-2">
          <select class="form-control"  id="monthPlan" [(ngModel)]="work.monthPlan" name="monthPlan" #monthPlan
                  required>
            <option value="Y">Yes</option>
            <option value="N">No</option>
          </select>
        </div>
      </div>
      <div class="form-group" [class.has-error]="weekPlan.Error" [class.has-success]="weekPlan.pass">
        <label for="weekPlan" class="col-sm-2 control-label">周計劃</label>
        <div class="col-sm-2">
          <select class="form-control"  id="weekPlan" [(ngModel)]="work.weekPlan" name ="weekPlan" #weekPlan
                  required>
            <option value="Y">Yes</option>
            <option value="N">No</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary" [disabled]="name.Error || content.Error || period.Error" (click)="save(new1)">保存</button>
          <button type="button" class="btn btn-info" (click)="goback();$event.stopPropagation()">返回</button>
          <button type="button" class="btn btn-warning" (click)="toDelete()">刪除</button>
        </div>
      </div>
    </form>
  </div>
</div>
